parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between Twig\\Node\\Node and Twig\\Node\\Node will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/Core/Twig/Rules/JsonEncodeHtmlAttrRule.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Core/Twig/Rules/TranslationMissingTypographyRule.php

		-
			message: '#^Instanceof between Twig\\Node\\Node and Twig\\Node\\Node will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Core/Twig/Rules/TranslationPluralMissingFormatRule.php

		-
			message: '#^Instanceof between Twig\\Node\\Node and Twig\\Node\\Node will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 3
			path: src/Core/Twig/Rules/UnguardedOutputRule.php

		-
			message: '#^Instanceof between Twig\\Node\\Node and Twig\\Node\\Node will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Core/Twig/Rules/WrapperClassesRule.php
