includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - tests/Support
        - tests/Unit
    excludePaths:
        analyseAndScan:
            - tests/Fixtures
